.services{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.containerTitle{
    font-size: 2rem ;                   /* 32 px */
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
}

